---
const today = new Date();
---

<footer class="w-full px-4 pt-4 pb-12 mt-12 border-t border-zinc-900 flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 text-[11px] font-mono text-zinc-600">
	<div>
		&copy; {today.getFullYear()} yakyaz. All rights reserved.
	</div>
	<div>
		secure_comms: <a href="mailto:contact@yakyaz.dev" class="text-zinc-400 hover:text-white underline">contact@yakyaz.dev</a>
	</div>
</footer>